@tailwind base;
@tailwind components;
@tailwind utilities;

/* *{
    border: 2px solid #fff;
} */

::-webkit-scrollbar {
    background-color: #1F1E24;
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(49, 54, 54);
    border-radius: 5px;
}

/* For Dropdown */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-color: #27272a;
    background-image: none;
    flex: 1;
    padding: 0 0.6em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: "Open Sans", sans-serif;
    position: relative;
}

select::-ms-expand {
    display: none;
}

.select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0 0.6em;
    background: #27272a;
    cursor: pointer;
    pointer-events: none;
    transition: 0.25s all ease;
}

.select:hover::after {
    color: #6556cd;
}

option {
    padding: 0 1vh;
}